# Model files
backend/kokoro-v0_19.onnx
backend/voices.bin
backend/kokoro*.onnx



# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Environment
.env

# Mac
.DS_Store

# Storage
storage/

# Audio
*.wav
*.mp3